<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631980998095-vsjhljsrm1rn49sk55od32a5jvqcp8ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631980998095-vsjhljsrm1rn49sk55od32a5jvqcp8ql</string>
	<key>API_KEY</key>
	<string>AIzaSyCCT0Hs2WPJl5zgZR4IUGrhPWWtaR1XNM0</string>
	<key>GCM_SENDER_ID</key>
	<string>631980998095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp</string>
	<key>PROJECT_ID</key>
	<string>news-a3e2e</string>
	<key>STORAGE_BUCKET</key>
	<string>news-a3e2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631980998095:ios:87d288a9840245a6ed66ba</string>
</dict>
</plist>